<div class="selectLanguage">
  Language:
  <%= link_to_unless_current "English" , locale: "en" %>
  <%= link_to_unless_current "Deutsch" , locale: "de" %>
</div>

<div class="login-register login">
  <% if flash[:alert] %>
  <p id="notice"><%= flash[:alert] %></p>
  <% end %>
  <%= form_tag('/login') do %>
  <fieldset>
    <legend><%= t('session.title') %></legend>
    <div class="form">
      <%= text_field_tag :username, params[:username], :placeholder => t('session.username') %>
      <%= password_field_tag :password, params[:password],:placeholder => t('session.password') %>
    </div>
    <div class="submit">
      <button name="commit" type="submit"><span><%= t('session.loginButton') %></span></button>
    </div>
  </fieldset>
  <% end %>
  <%= link_to t('session.registration'), new_user_path %>
</div>